@import "tailwindcss";
@import "@fullcalendar/common/main.css";
@import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/timegrid/main.css";
@import "react-calendar/dist/Calendar.css";


/* 明るいテーマ */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

/* 暗いテーマ時に上書き */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 全体スタイル */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
